body{
    margin: 0px;
}

.navbar{
    width: 100%; 
    height: 80px;
     background-color:  #ab47bc;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btn{
    margin: 10px;
    color:white;
    font-size: 22px;
    text-decoration: none;
}

.col33{
    width: 33.3%;
    float: left;
}
.col22{
    width: 49.3%;
    float: left;
}
.col44{
    width:24.3%;
    float: left;
}
@media only screen and (max-width:600px){
    .col33{
        width: 100%;
        float: none;
    }
    .col22{
        width: 100%;
        float: left;
    }
    .col44{
        width: 49.3%;
        float: left;
    }
}