body{
    background: url("../img/fondomario.jpg");
    background-size: cover;
}

.d-flex{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.card{
    width: 600px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.text-center{
    text-align: center;
}
.title{
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
}
.divInput{
    margin-top: 20px;
}
.formInput{
    width: 100%;
    border-radius: 15px;
    font-size: 20px;
    border-width: 1px;
}
.buttonDesign{
    background-color: blue;
    color: white;
    border-radius: 5px;
    border-color: transparent;
    font-size: 26px;
}
/* Ejecutar cuando la pantalla width sea menor a 700px */
@media only screen and (max-width: 700px){
    body{
        background: url("../img/fondocelular.jpg") !important;
        background-size: cover;
    }
}
/* Ejecutar cuando la pantalla width sea mayor a 300px y menor a 700px 
@media only screen and (min-width:300px) and (max-width: 700px){
    body{
        background: url("../img/fondocelular.jpg") !important;
        background-size: cover;
    }
}
*/
/* Ejecutar cuando la pantalla width sea mayor a 300px 
@media only screen and (min-width:300px){
    body{
        background: url("../img/fondocelular.jpg") !important;
        background-size: cover;
    }
}
*/

.paddingButton{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}